/* ---- Price Field ----------------------------- */
/* -- Container */
.price-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* -- Current price */
.pf-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 2em;
}

.pf-price .input-field { height: 50px; }
.pf-price .input-field input { width: 85px; height: 100%; }
.pf-price .input-field label { height: auto; margin: 0; }

/* Remove arrows on input type number */
.pf-price .input-field input::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
.pf-price .input-field input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.pf-price .input-field input[type=number] { -moz-appearance: textfield; } /* Firefox */

.pf-price.pf-below-recommended,
.pf-price.pf-below-recommended input { color: #B84526; }

/* -- Recommended price */
.pf-recommended-price p {
  margin: 5px 0 0 5px;
  color: #8A8A8A;
}