/* ---- Errors ---------------------------------- */
/* -- Container */
.error-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.error-content { z-index: 10; }

/* -- Error code */
.error-code {
  font-size: 5em;
  margin: 0;
  color: #e79087;
}

.error-message {
  font-size: 3em;
  margin: -10px 0 0 0;
}

.error-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  font-size: 20rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  z-index: 1;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.error-link {
  display: block;
  margin-top: 10px;
}