/* ---- Image Upload ---------------------------- */
/* -- Input */
.image-upload .input-field { display: none; }

/* -- Image */
.iu-image-box {
  position: relative;
  display: inline-block;
  background: #E6E6E6;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.iu-image-box::before,
.iu-image-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
.iu-image-box:hover::before {
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.iu-image-box:hover::after {
  background: url("../../../assets/images/icons/file_upload_black_24dp.svg") no-repeat center;
  background-size: 35%;
  filter: invert(81%) sepia(44%) saturate(528%) hue-rotate(333deg) brightness(105%) contrast(98%);
  z-index: 11;
}

.iu-image-box:hover::before { opacity: 1; }
.iu-image-box:hover::after { opacity: 0.75; }

/* -- Image size */
.iu-image-box {
  width: 200px;
  height: 200px;
}