/* ---- Header section -------------------------- */
/* -- Container */
.header-section {
  width: 100%;
  margin: 16px 0;
}

/* -- List */
.header-section ul {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---- Section item ---------------------------- */
/* -- Container */
.hs-item {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

/* -- Content */
.hs-item.hs-title {
  font-weight: bold;
  background: #252323;
  color: #ffbe4f;
}

.hs-link        { cursor: pointer; }
.hs-link:hover  { background: #393737; }
.hs-link a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

/* -- Special classes */
.hs-current-link a { color: #ffbe4f; }

.hs-disabled {
  color: #AAAAAA;
  cursor: not-allowed;
}
.hs-disabled:hover { background: none; }