/* ---- Modal ----------------------------------- */
/* -- Background */
.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-background.opened { display: block; }
.modal-background.closed { display: none; }

/* -- Modal box */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #201E1E;
  color: white;
}

/* -- Modal header */
.modal-header {
  padding: 20px;
  background-color: #F39C2C;
  color: #2A1D0F;
}

.modal-header h4 { margin: 0; }

/* -- Modal body */
.modal-body { padding: 20px; }
.modal-body p { margin: 0; }

/* -- Modal buttons */
.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}